sublime3/User/oscrypto-ca-bundle.crt
sublime3/User/Package Control.ca-list
sublime3/User/Package Control.ca-bundle
sublime3/User/Package Control.cache
sublime3/User/Package Control.last-run
sublime3/User/Package Control.merged-ca-bundle
sublime3/User/Package Control.system-ca-bundle
sublime3/User/Package Control.ca-certs
sublime3/User/Color Highlighter/**
sublime3/User/SublimeLinter/**

atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/github.cson
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store
atom.symlink/recovery

git/gitconfig.local.symlink
