"*":
  "atom-beautify":
    general:
      _analyticsUserId: "8b9e6b6c-7ca9-4b13-8b9d-ee875e13ba81"
  "atom-material-ui":
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "linter-eslint"
      "linter-jshint"
      "react"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".idea"
      ".sass-cache"
      "node_modules"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  docblockr: {}
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 130
    showIndentGuide: true
    softTabs: false
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "bd6ebad1-8d08-df36-542e-70237afa9876"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "go-debug":
    panelInitialVisible: false
  "go-plus":
    panelDisplayMode: "closed"
  "highlight-selected":
    lightTheme: true
  "language-babel": {}
  linter: {}
  "linter-eslint":
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-pycodestyle":
    ignoreErrorCodes: [
      "E501"
    ]
  "linter-ui-default":
    panelHeight: 174
    showPanel: true
  metrics:
    userId: "f0927718331c072990cb750aafe7bbb7c24695ca"
  minimap:
    displayPluginsControls: false
  "one-dark-ui": {}
  pigments: {}
  react: {}
  "release-notes":
    viewedVersion: "0.95.0"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  "status-bar": {}
  tabs:
    usePreviewTabs: true
  "the-closer":
    closeWindowTogetherWithLastTab: false
  "toggle-packages":
    togglePackages: [
      "linter-xo"
      "linter-jshint"
      "linter-eslint"
    ]
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 130
".coffee.jsx.source":
  editor:
    autoIndent: false
    preferredLineLength: 130
".js.jsx.source":
  editor:
    preferredLineLength: 130
